@font-face {
  font-family: myFont;
  src: url(../assets/myFont.ttf);
  font-weight: normal;
}

.logo-text {
  font-family: myFont;
  font-size: 40px;
}

.header__button {
  background-color: #ff7f50;
  color:white;
}

.footer__subscribe-button {
  background-color: #ff7f50;
  color:white;
}

/* .main-carousel-item {
  height: 50vh;
  width: auto;
} */
