@font-face {
  font-family: myFont;
  src: url(../assets/myFont.ttf);
  font-weight: normal;
}

.logo-text {
  font-family: myFont;
  font-size: 40px;
}

.header__button {
  background-color: #ff7f50;
  color:white;
}

.footer__subscribe-button {
  background-color: #ff7f50;
  color:white;
}

.header {
  height: 100vh;
}

.item {
  height: 70vh;
}

.navbar {
   height: 10vh;
   border: 3px solid red;
}

.button-open-catalog {
   height: 10vh;
}
